
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 43rem;
}.component-1-g3B {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  align-items: center;
  border: dashed 0.1rem #9747ff;
  padding: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;

  .property-1frame-2-cxR {
    width: 100%;
    height: 16.8rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 2.4rem;

    .frame-1-AU9 {
      align-items: center;
      width: 126.7rem;
      height: 100%;
      display: flex;

      .item-3-hiy {
        margin-right: 1.7rem;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item-4-Rus {
        margin-right: 1.7rem;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item-5-xuo {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.7rem;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
      }
      .item-6-HhB {
        margin-right: 1.7rem;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item-7-28y {
        margin-right: 2.1rem;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item-8-kKs {
        margin-right: 1.7rem;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item-9-svH {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.7rem;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
      }
      .item-10-CxZ {
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.7rem;
        width: 11.1rem;
      }
      .item-11-Los {
        margin-right: 1.7rem;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item-12-GSd {
        flex-shrink: 0;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .property-1frame-3-aTK {
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 16.8rem;
    cursor: pointer;

    .frame-1-iZX {
      width: 126.7rem;
      height: 100%;
      display: flex;
      align-items: center;

      .item-3-TX7 {
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.7rem;
      }
      .item-4-aLq {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.7rem;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
      }
      .item-5-Uh7 {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.7rem;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
      }
      .item-6-Qam {
        margin-right: 1.7rem;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item-7-Wth {
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.1rem;
        width: 11.1rem;
      }
      .item-8-EZo {
        flex-shrink: 0;
        margin-right: 1.7rem;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
      }
      .item-9-ZMB {
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.7rem;
        width: 11.1rem;
      }
      .item-10-gRo {
        flex-shrink: 0;
        margin-right: 1.7rem;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
      }
      .item-11-1DB {
        margin-right: 1.7rem;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item-12-vqw {
        flex-shrink: 0;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
}
