
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.iphone-14-1-zws {
  flex-direction: column;
  background-color: #fdffe6;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-pzz7-9TP {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 8.1rem 4.7rem 8.1rem;
    width: 100%;

    .item-5-1-qsw {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 3.8rem 0.7rem;
      width: 12.1rem;
      height: 5.5rem;
    }
    .item-6-1-S73 {
      flex-shrink: 0;
      width: 22.8rem;
      height: 7.3rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .component-1-h2y {
    width: 100%;
    height: 16.8rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;

    .frame-1-QTB {
      width: 126.7rem;
      height: 100%;
      display: flex;
      align-items: center;

      .item-3-J2m {
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.7rem;
        width: 11.1rem;
      }
      .item-4-ZDb {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.7rem;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
      }
      .item-5-dDT {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.7rem;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
      }
      .item-6-WHF {
        flex-shrink: 0;
        margin-right: 1.7rem;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
      }
      .item-7-QNd {
        margin-right: 2.1rem;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item-8-fZT {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.7rem;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
      }
      .item-9-k57 {
        flex-shrink: 0;
        margin-right: 1.7rem;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
      }
      .item-10-QfT {
        margin-right: 1.7rem;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item-11-tqX {
        margin-right: 1.7rem;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item-12-ksj {
        flex-shrink: 0;
        width: 11.1rem;
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .auto-group-et8h-SEm {
    flex-shrink: 0;
    width: 100%;
    height: 47rem;
    position: relative;

    .elevated-MMj {
      box-sizing: border-box;
      height: 4.6rem;
      left: 13.2rem;
      border-radius: 5rem;
      top: 9.6rem;
      box-shadow: 0 0.4rem 0.8rem rgba(101, 91, 127, 0.3000000119);
      background-color: #7849ff;
      padding: 0.7rem 0.8rem 0.5rem 0.8rem;
      width: 12.7rem;
      cursor: pointer;
      position: absolute;

      .auto-group-5vbb-mgM {
        width: 100%;
        height: 100%;

        .item-1-1-Wtq {
          object-fit: cover;
          vertical-align: top;
          width: 11.1rem;
          height: 3.4rem;
        }
      }
    }
    .item-7-1-uvy {
      width: 32.1rem;
      height: 2.4rem;
      position: absolute;
      left: 3.5rem;
      top: 20.6rem;
      object-fit: cover;
      vertical-align: top;
    }
    .caunselor12th--x8Z {
      height: 1.3rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      width: 10.1rem;
      left: 25.1rem;
      top: 25.8rem;
      font-family: SeoulNamsan CBL, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
    }
    .caunselor12th--wFP {
      height: 1.3rem;
      font-weight: 400;
      top: 27.2rem;
      font-size: 1rem;
      line-height: 1.2575;
      color: #000000;
      font-family: SeoulNamsan CBL, 'Source Sans Pro';
      width: 10.1rem;
      position: absolute;
      left: 25.1rem;
      white-space: nowrap;
    }
    .caunselor12th--xwB {
      line-height: 1.2575;
      color: #000000;
      left: 25.1rem;
      top: 28.6rem;
      font-size: 1rem;
      font-weight: 400;
      white-space: nowrap;
      width: 10.7rem;
      height: 1.3rem;
      position: absolute;
      font-family: SeoulNamsan CBL, 'Source Sans Pro';
    }
  }
}
